
@{
    ViewBag.Title = "AddCateogory";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<section class="content-header">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Category</a></li>
        <li class="breadcrumb-item active"><a>Add Category</a></li>
    </ol>
    <button type="submit" class="btn btn-primary float-right" onclick="window.location.href='/Admin/Category/CategoryList'">Category List</button>
</section>
<br />
<br />
<section class="content">
    <div class="row">
        <div class="col-md-9">
            @Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/CategoryForm")
                }
            </div>

        </div>

    </div>
</section>


