
@{
    ViewBag.Title = "MetaList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@model List<DTO.MetaDTO>
<section class="content-header">


    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Meta</a></li>
        <li class="breadcrumb-item active"><a>Meta List</a></li>
    </ol>

    <button type="submit" class="btn btn-primary float-right" onclick="window.location.href='/Admin/Meta/AddMeta'">Add Meta</button>

</section>
<br />
<br />

<div class="card">
    <div class="card-body">
        <table id="example1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="text-align: center">Name</th>
                    <th style="text-align: center">Meta Content</th>
                    <th style="text-align: center">Update</th>
                    <th style="text-align: center">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr id="a_@item.MetaID">
                        <td align="center" valign="middle">@item.Name</td>
                        <td align="center" valign="middle">@item.MetaContent</td>
                        <td class="button-cell">
                            <div class="button-wrapper">
                                <a href="/Admin/Meta/UpdateMeta/@item.MetaID">
                                    <img src="~/Areas/Admin/Icons/Update.png" />
                                </a>
                            </div>
                        </td>
                        <td class="button-cell">
                            <div class="button-wrapper">
                                <a href="#">
                                    <img src="~/Areas/Admin/Icons/delete.png" data-toggle="modal" data-target="#modalmessage" onclick="AskQuestion('/Admin/Meta/DeleteMeta/',@item.MetaID)" />
                                </a>
                            </div>
                        </td>

                    </tr>


                }
            </tbody>
                
            </table>
    </div>
    <br />
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
